@charset "UTF-8";
.wrap{
margin:0 auto;
}
.cust_section{
padding-top:20px;
padding-bottom:20px;
width:700px;
margin:0 auto;
border: 3px solid #789849;
}
.list{
  display: flex;
  align-items: center;
  flex-direction: column;
}
.article section{
display: flex;
}
.cust_Resection{
margin-top:10px; 
}
.cust{
display: flex;
align-items: center;
    gap: 10pt;
}
.ans{
    padding-top: 20px;
    padding-bottom: 20px;
}
.cust_section input[type="text"]{
height: 25px;
border: 1px solid gray;
}
input[type="submit"]{
width:100px;
height: 40px;
background-color: #789849;
color: white;
border: none;
border-radius: 8px;
}
input[type="submit"]:hover{
background-color: #6b745d;
}
.list.btn{
padding-top: 20px;
}
input[type="text"]:focus {
  outline: #789849;
}